---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LatestNotes from "../components/LatestNotes.astro";
---

<Layout page="home">
  <div class="noise-layer" aria-hidden="true"></div>
  <Hero />
  <LatestNotes />
</Layout>
